[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
opencv-contrib-python = "*"
medpy = "*"
matplotlib = "*"
numpy = "==1.19.3"
scikit-image = "*"

[dev-packages]

[requires]
python_version = "3.8"
